.user-footer
  .user-container
    .nav
      %ul.nav-list
        %li
          = link_to "プライバシーポリシー ",  "#", class: "nav-list__item "
        %li
          = link_to "メルカリ利用規約", "#", class: "nav-list__item "
        %li
          = link_to "特定商取引に関する表記", "#", class: "nav-list__item "
    = link_to root_path do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195", class: "footer-img"
    %small © 2019 Mercari