.login-container
  .user-header
    = link_to "#" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195", class: "user-header__img"
  .login-main
    .login-panel
      .login-panel__no-account
        %p アカウントをお持ちでない方は方はこちら
        = link_to "新規会員登録"
      .login-panel__sns-login
        %button#facebook.btn-sns
          =link_to "#" do
            %i.fa.fa-facebook-square.fa-lg.icon-facebook
            Facebookでログイン
        %button#google.btn-sns
          =link_to "#" do
            %i.fa.fa-google.icon-google
            Googleでログイン
      = form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
        .login-form
          .login-form--mailaddress
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス",class: "mailaddress__input"
          .login-form--password
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード",class: "password__input"
          .login-form--recapcha
            私はロボットではありません（recaptcha_tags使用予定）
          = f.submit "ログイン", class:"login-form--login-btn"
          =link_to "パスワードをお忘れの方"
  = render "devise/registrations/footer"
  © 2019 GitHub, Inc.