.footer 
  .footer-top
    .footer-container
      .container-left
        .add-top スマホでかんたんかんたんフリマアプリ
        .add-center 今すぐ無料ダウンロード！
        .add-bottom
          =link_to "#", class:"add-bottom__left" do
            = image_tag"https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png" , class:"add-bottom__left__img"
          =link_to "#", class:"add-bottom__center" do
            = image_tag"https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg" , class:"add-bottom__center__img"
          =link_to "#", class:"add-bottom__right" do
            = image_tag"https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg" , class:"add-bottom__right__img"       
      .container-right
        = image_tag"https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png" , class:"container-right__img" 

  .info
    .info-container
      .info-list
        %h3.info-title メルカリについて
        %ul.info-lists
          %li.list 会社概要（運営会社）
          %li.list 採用情報
          %li.list プレスリリース
          %li.list 公式ブログ
          %li.list メルカリロゴ利用ガイドライン
          %i.fa.fa-twitter
          %i.fa.fa-facebook-square
          -# =link_to "#", class:"" do
          -# = image_tag""
          -# =link_to "#", class:"" do
          -# = image_tag""
      .info-list
        %h3.info-title ヘルプ＆ガイド
        %ul.info-lists
          %li.list メルカリガイド
          %li.list らくらくメルカリ便
          %li.list ゆうゆうメルカリ便
          %li.list 大型メルカリ便
          %li.list 車体取引ガイド
          %li.list メルカリあんしん・あんぜん宣言！
          %li.list 偽ブランド品撲滅への取り組み
          %li.list メルカリボックス
      .info-list
        %h3.info-title プライバシーと利用規約
        %ul.info-lists
          %li.list プライバシーポリシー
          %li.list メルカリ利用規約
          %li.list あんしんスマホサポート制度に関する利用特約
          %li.list コンプライアンスポリシー   
      .info-list
        .space
        %ul.info-lists  
          %li.list 個人データの安全管理に係る基本方針
          %li.list 特定商取引に関する表記
          %li.list 資金決済法に基づく表示
          %li.list 法令順守と犯罪抑止のために
      .info-list
        %h3.info-title 国
        %ul.info-lists
          %li.list 日本
          %li.list United States
    .info-bottom
      .info-bottom__center        
        =link_to "#", class:"info-bottom__center" do
          = image_tag"https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg" , class:"info-bottom__center__img"
        %a.span ©️2019 Mercari
      
      
  
      