.items-box
  %ul.item-box
    %li.item
      = link_to "", class: "item__link" do
        %figure.item-title
          .item-image
            %span.item-image__price ¥4000円
            %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/item/detail/orig/photos/m89530595750_1.jpg?1571966597"}/
          %figcaption.item-style
            %span.item-style--font jfkだjkdjdfじゃkfじゃkfじゃklfjklあjfかjfkdjファkjfかlfじゃklfじゃkl
        
    %li.item
      = link_to "", class: "item__link" do
        %figure.item-title
          .item-image
            %span.item-image__price ¥4000円
            %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/item/detail/orig/photos/m89530595750_1.jpg?1571966597"}/
          %figcaption.item-style
            %span.item-style--font まさみあああああああああああああああ

    %li.item
      = link_to "", class: "item__link" do
        %figure.item-title
          .item-image
            %span.item-image__price ¥4000円
            %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/item/detail/orig/photos/m89530595750_1.jpg?1571966597"}/
          %figcaption.item-style
            %span.item-style--font まさみ
    
    %li.item
      = link_to "", class: "item__link" do
        %figure.item-title
          .item-image
            %span.item-image__price ¥4000円
            %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/item/detail/orig/photos/m89530595750_1.jpg?1571966597"}/
          %figcaption.item-style
            %span.item-style--font まさみ

    %li.item
      = link_to "", class: "item__link" do
        %figure.item-title
          .item-image
            %span.item-image__price ¥4000円
            %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/item/detail/orig/photos/m89530595750_1.jpg?1571966597"}/
          %figcaption.item-style
            %span.item-style--font まさみ
        
    %li.item
      = link_to "", class: "item__link" do
        %figure.item-title
          .item-image
            %span.item-image__price ¥4000円
            %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/item/detail/orig/photos/m89530595750_1.jpg?1571966597"}/
          %figcaption.item-style
            %span.item-style--font まさみ

    %li.item
      = link_to "", class: "item__link" do
        %figure.item-title
          .item-image
            %span.item-image__price ¥4000円
            %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/item/detail/orig/photos/m89530595750_1.jpg?1571966597"}/
          %figcaption.item-style
            %span.item-style--font まさみ
        
    %li.item
      = link_to "", class: "item__link" do
        %figure.item-title
          .item-image
            %span.item-image__price ¥4000円
            %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/item/detail/orig/photos/m89530595750_1.jpg?1571966597"}/
          %figcaption.item-style
            %span.item-style--font まさみ
            
    %li.item
      = link_to "", class: "item__link" do
        %figure.item-title
          .item-image
            %span.item-image__price ¥4000円
            %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/item/detail/orig/photos/m89530595750_1.jpg?1571966597"}/
          %figcaption.item-style
            %span.item-style--font 
        
    %li.item
      = link_to "", class: "item__link" do
        %figure.item-title
          .item-image
            %span.item-image__price ¥4000円
            %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/item/detail/orig/photos/m89530595750_1.jpg?1571966597"}/
          %figcaption.item-style
            %span.item-style--font まさみ