= render "main_header"
.item-details-container
  .item-box
    %h1.item-name =@item.name
    .item-main-content
      .item-photo
        .item-photo-main
          = image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_1.jpg?1565393280" , class:"item-photo-main__img"
        .owl-dots
          .owl-dot
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_2.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_4.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_5.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_6.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_7.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_10.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_8.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_9.jpg?1562892964", class:"owl-dot__img"
      %table.item-detail-table
        %tbody.item-detail-table__body
          %tr
            %th 出品者
            %td 
              =link_to "little.dan",class:"exhibitor"
              = link_to "#" do
                = fa_icon "grin", class: "icon_grin"
          %tr
            %th カテゴリー
            %td 
              =link_to"おもちゃ・ホビー・グッズ",class:"toys" 
              %br
              =link_to"＞楽器/器材",class:"musical instrument"            
              %br
              =link_to"＞エレキギター",class:"musical instrument"            
          %tr
            %th ブランド
            %td
              =link_to "ヤマハ",class:"yamaha"
          %tr
            %th 商品の状態
            %td やや傷や汚れあり
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td 
              =link_to "静岡",class:"shizuoka"
          %tr
            %th 配送日の目安
            %td 1~2日で発送
    .item-price-box 
      %span.item-price ¥49,000
      %span.item-tax (税込) 
      %span.item-postage 送料込み
    %p.line
    .item-btn-container
      = link_to new_item_path , class:'item-edit-btn' do
        商品の編集
      %p.text or
      = link_to new_item_path, class:'item-exhibit-btn' do
        出品を一旦停止      
      = link_to '/items/2', method: :delete, class:'item-delete-btn' do
        この商品を削除する
    %p.line
  .comment-content
    .comment-content-top
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      =form_with model: @comment,local:true do |form|
        =form.text_area :text,class:"comment_form"
      .comment-content-btn コメントする       