= render "main_header"
.main-contents
  .news
    = link_to "", class: "news__link" do 
      %img{class: "news__img", alt: "", src:"https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?465897195"}/

  .categorys
    %h2.title 人気カテゴリー
    %ul.lists
      %li.lists__list レディース
      %li.lists__list メンズ
      %li.lists__list 家電・スマホ・カメラ
      %li.lists__list おもちゃ・ホビー・グッズ

  .categorys-box
    .category-topbox
      .box-header
        %h2.box-header__name レディース新着アイテム
        = link_to "", class: "box-header__more" do 
          もっと見る ＞
      =render "main_category"
      
    .category-box
      .box-header
        %h2.box-header__name メンズ新着アイテム
        = link_to "", class: "box-header__more" do 
          もっと見る ＞
      =render "main_category"

    .category-box
      .box-header
        %h2.box-header__name メンズ新着アイテム
        = link_to "", class: "box-header__more" do 
          もっと見る ＞
      =render "main_category"

    .category-box
      .box-header
        %h2.box-header__name メンズ新着アイテム
        = link_to "", class: "box-header__more" do 
          もっと見る ＞
      =render "main_category"

  .categorys
    %h2.title 人気ブランド
    %ul.lists
      %li.lists__list シャネル
      %li.lists__list ルイヴィトン
      %li.lists__list シュプリーム
      %li.lists__list ナイキ
      
  .categorys-box
    .category-topbox
      .box-header
        %h2.box-header__name シャネル新着アイテム
        = link_to "", class: "box-header__more" do 
          もっと見る ＞
      =render "main_category"
      
    .category-box
      .box-header
        %h2.box-header__name ルイヴィトン新着アイテム
        = link_to "", class: "box-header__more" do 
          もっと見る ＞
      =render "main_category"

    .category-box
      .box-header
        %h2.box-header__name シュプリーム新着アイテム
        = link_to "", class: "box-header__more" do 
          もっと見る ＞
      =render "main_category"

    .category-box
      .box-header
        %h2.box-header__name ナイキ新着アイテム
        = link_to "", class: "box-header__more" do 
          もっと見る ＞
      =render "main_category"

.exhibit-btn
  = link_to new_item_path, class: "exhibit-btn" do
    .btn-box
      .btn-box__text 出品
      %i.btn-box__font.fa.fa-camera.fa-3x

=render "main_footer"
