= render "main_header"
.item-details-container
  .item-box
    %h1.item-name 
      = @item.name
    .item-main-content
      .item-photo
        .item-photo-main
          = image_tag @item.images.first.images_url , class:"item-photo-main__img"
        .owl-dots
          - @item.images.each do |img|
            .owl-dot
              = image_tag img.images_url , class:"owl-dot__img"
      %table.item-detail-table
        %tbody.item-detail-table__body
          %tr
            %th 出品者
            %td 
              =link_to '#',class:"exhibitor" do
                = @item.saler.nickname
              -# = link_to "#" do
              -#   = fa_icon "grin", class: "icon_grin"
                
          %tr
            %th カテゴリー
            %td 
              =link_to"#",class:"toys" do
                = @item.category.parent.parent.name
              %br
              =link_to"#",class:"musical instrument" do
                >
                = @item.category.parent.name
              %br
              =link_to"#",class:"musical instrument" do
                >
                = @item.category.name
          %tr
            %th ブランド
            %td
              =link_to "#",class:"yamaha" do
                = @item.brand.name
          %tr
            %th 商品の状態
            %td
              = @item.condition.name

          %tr
            %th 配送料の負担
            %td
              = @item.delivery_burden.name
          %tr
            %th 配送の方法
            %td
              = @item.delivery_way.name
          %tr
            %th 配送元地域
            %td 
              =link_to "#",class:"shizuoka" do
                = @item.prefecture.name
          %tr
            %th 配送日の目安
            %td
              = @item.shipment_days.name
    .item-price-box 
      %span.item-price
        ¥
        = @item.price.to_s(:delimited)
      %span.item-tax (税込) 
      %span.item-postage
        = @item.delivery_burden.name2
    .item-buy-btn 
      = link_to buycheck_item_path do
        購入画面に進む
      
    .item-description-inner
      = @item.item_description
    .item-button-container
      .item-button-container__left
        =link_to " ♡ いいね！", "#", class:"left-like" 
        =link_to "不適切な商品の報告", "#", class:"left-report" 
      .item-button-container__right
      =link_to "#", class:"container-right" do
        = fa_icon "lock",class:"icon-key" 
        あんしん・あんぜんあんぜんへの取り組み
    .item-detail-messages 
      .item-message-container
        .message-content
          .message-user
            =image_tag"https://static.mercdn.net/thumb/members/977549627.jpg?1567167049",class:  "message-user__img"
            .name 
              %p mini✩.*˚
            .message       
              .says
                %p 夜分遅くに失礼致します.こちらのギターを購入させていただきたいと思っております。また、値引きは可能でしょうか。ご検討のほどよろしくお願い致します。
                .time 
                  %p 5日前             
          .message-user
            =image_tag"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSnBfS-ocny7R65gLUjQkZVUsc13WYskq9uw_ozAwpYcIkZdDI&s",class:"message-user_img", size:32
            .name-exhibitor 
              %p 出品者
            .message  
              .says
                %p mini 様へ、多少の値引きは可能ですので値段をご提示して下さい。
                .time
                  %p 5日前                
          .message-user
            =image_tag"https://static.mercdn.net/thumb/members/977549627.jpg?1567167049",class:  "message-user__img", size:32
            .name mini✩.*˚
            .message 
              .says
                %p こんにちは。お返事遅くなり申し訳ございません。金額ですが、49000円で、ご検討願えますか？よろしくお願い致します。
                .time
                  %p 3日前
        .comment-content
          .comment-content-top
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            =form_with model: @comment,local:true do |form|
              =form.text_area :text,class:"comment_form"
      .comment-content-btn コメントする
  .nav-item-link
    .nav-item-link-left
      =link_to"ザラ ワンピース ドット柄 プリーツ zara","#",class:"nav-left"
    .nav-item-link-right
      =link_to"向日葵の咲かない夏","#",class:"nav-right"
  .item-social-media-box
    =link_to"#",class:"facebook" do
      =fa_icon"facebook-square"
    =link_to"#",class:"twitter" do
      =fa_icon"twitter-square" 
    =link_to"#",class:"pinterest" do
      =fa_icon"pinterest-square" 

  .item-box-head
    =link_to"little.danさんのその他の出品","#",class:"item-box-head-link"
  .items-box
    %ul.item-box
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m74459684549_1.jpg?1565393437"}/
            %figcaption.item-style
              %span.item-style--font ttttttttttttt
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m81196399868_1.jpg?1565392891"}/
            %figcaption.item-style
              %span.item-style--font  yyyyyyyyyyyy
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m21321088581_1.jpg?1565393777"}/
            %figcaption.item-style
              %span.item-style--font vvvvvvvvvvvvv         
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m44805613351_1.jpg?1565393871"}/
            %figcaption.item-style
              %span.item-style--font まさみ
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m23327750564_1.jpg?1564477362"}/
            %figcaption.item-style
              %span.item-style--font まさみ
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m81196399868_1.jpg?1565392891"}/
            %figcaption.item-style
              %span.item-style--font まさみ

  %h2.item-box-head ヤマハのエレキギターその他の商品
  .items-box
    %ul.item-box
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m45666370141_1.jpg?1570600192"}/
            %figcaption.item-style
              %span.item-style--font jfkだjkdjdfじゃkfじゃkfじゃklfjklあjfかjfkdjファkjfかlfじゃklfじゃkl                       
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m75665980119_1.jpg?1572996652"}/
            %figcaption.item-style
              %span.item-style--font まさみあああああああああああああああ
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m75788449823_1.jpg?1573031336"}/
            %figcaption.item-style
              %span.item-style--font まさみ
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m15226907434_1.jpg?1572765413"}/
            %figcaption.item-style
              %span.item-style--font まさみ
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m13651831475_1.jpg?1573012586"}/
            %figcaption.item-style
              %span.item-style--font まさみ                 
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m96067057779_1.jpg?1571370769"}/
            %figcaption.item-style
              %span.item-style--font まさみ
=render "items/main_footer"