= render "main_header"
.item-details-container
  .item-box
    %h1.item-name Yamaha SG 600 1979年日本製 ハードケース付属mini様専用
    .item-main-content
      .item-photo
        .item-photo-main
          = image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_1.jpg?1565393280" , class:"item-photo-main__img"
        .owl-dots
          .owl-dot
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_2.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_4.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_5.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_6.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_7.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_10.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_8.jpg?1562892964", class:"owl-dot__img"
          =image_tag"https://static.mercdn.net/item/detail/orig/photos/m43854755769_9.jpg?1562892964", class:"owl-dot__img"
      %table.item-detail-table
        %tbody.item-detail-table__body
          %tr
            %th 出品者
            %td 
              =link_to "little.dan",class:"exhibitor"
              = link_to "#" do
                = fa_icon "grin", class: "icon_grin"
          %tr
            %th カテゴリー
            %td 
              =link_to"おもちゃ・ホビー・グッズ",class:"toys" 
              %br
              =link_to"＞楽器/器材",class:"musical instrument"            
              %br
              =link_to"＞エレキギター",class:"musical instrument"            
          %tr
            %th ブランド
            %td
              =link_to "ヤマハ",class:"yamaha"
          %tr
            %th 商品の状態
            %td やや傷や汚れあり
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td 
              =link_to "静岡",class:"shizuoka"
          %tr
            %th 配送日の目安
            %td 1~2日で発送
    .item-price-box 
      %span.item-price ¥49,000
      %span.item-tax (税込) 
      %span.item-postage 送料込み
    .item-buy-btn 
      = link_to buycheck_items_path(@item.id) do
        購入画面に進む
      
    .item-description-inner mini様専用です。ギター：1979 Yamaha SG600  Tobacco Sunburst MIJ “LP Killer”1979年日本製フルオリジナルのYamaha SG600です。状態：清掃・調整済ですので安心して購入して下さい。 弦高1.5mm and 1.2mm@12F、フレット残こっています。トラスロッドは効かせてありますが、まだ回せます。小傷こそありますが綺麗な個体です。40年近くたったよく乾燥した木材は暖かいヴィンテージサウンドを奏でています。野太いハンバッカーサウンドを楽しんでください。重量：3.73kgオリジナルのハードケース付属、ポリッシュ、クロス付属。経年劣化による白濁があります。通常使用からの小傷・スクラッチありますが40年経ったギターにしては程度の良い美品になると思います。枯れた状態のヴィンテージギターです。 これを機会に昭和のあこがれのYamaha SG600 をぜひお求めください。 25枚の写真のリンクをブラウザーにコピペして下さい。どうぞご覧ください。 質問その他のお問い合わせ、大歓迎です。よろしくお願いいたします。写真のリンクflic.kr/s/aHsmF2Kfw3
    .item-button-container
      .item-button-container__left
        =link_to " ♡ いいね！", "#", class:"left-like" 
        =link_to "不適切な商品の報告", "#", class:"left-report" 
      .item-button-container__right
      =link_to "#", class:"container-right" do
        = fa_icon "lock",class:"icon-key" 
        あんしん・あんぜんあんぜんへの取り組み
    .item-detail-messages 
      .item-message-container
        .message-content
          .message-user
            =image_tag"https://static.mercdn.net/thumb/members/977549627.jpg?1567167049",class:  "message-user__img"
            .name 
              %p mini✩.*˚
            .message       
              .says
                %p 夜分遅くに失礼致します.こちらのギターを購入させていただきたいと思っております。また、値引きは可能でしょうか。ご検討のほどよろしくお願い致します。
                .time 
                  %p 5日前             
          .message-user
            =image_tag"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSnBfS-ocny7R65gLUjQkZVUsc13WYskq9uw_ozAwpYcIkZdDI&s",class:"message-user_img", size:32
            .name-exhibitor 
              %p 出品者
            .message  
              .says
                %p mini 様へ、多少の値引きは可能ですので値段をご提示して下さい。
                .time
                  %p 5日前                
          .message-user
            =image_tag"https://static.mercdn.net/thumb/members/977549627.jpg?1567167049",class:  "message-user__img", size:32
            .name mini✩.*˚
            .message 
              .says
                %p こんにちは。お返事遅くなり申し訳ございません。金額ですが、49000円で、ご検討願えますか？よろしくお願い致します。
                .time
                  %p 3日前
        .comment-content
          .comment-content-top
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            =form_with model: @comment,local:true do |form|
              =form.text_area :text,class:"comment_form"
      .comment-content-btn コメントする
  .nav-item-link
    .nav-item-link-left
      =link_to"ザラ ワンピース ドット柄 プリーツ zara","#",class:"nav-left"
    .nav-item-link-right
      =link_to"向日葵の咲かない夏","#",class:"nav-right"
  .item-social-media-box
    =link_to"#",class:"facebook" do
      =fa_icon"facebook-square"
    =link_to"#",class:"twitter" do
      =fa_icon"twitter-square" 
    =link_to"#",class:"pinterest" do
      =fa_icon"pinterest-square" 

  .item-box-head
    =link_to"little.danさんのその他の出品","#",class:"item-box-head-link"
  .items-box
    %ul.item-box
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m74459684549_1.jpg?1565393437"}/
            %figcaption.item-style
              %span.item-style--font ttttttttttttt
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m81196399868_1.jpg?1565392891"}/
            %figcaption.item-style
              %span.item-style--font  yyyyyyyyyyyy
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m21321088581_1.jpg?1565393777"}/
            %figcaption.item-style
              %span.item-style--font vvvvvvvvvvvvv         
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m44805613351_1.jpg?1565393871"}/
            %figcaption.item-style
              %span.item-style--font まさみ
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m23327750564_1.jpg?1564477362"}/
            %figcaption.item-style
              %span.item-style--font まさみ
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m81196399868_1.jpg?1565392891"}/
            %figcaption.item-style
              %span.item-style--font まさみ

  %h2.item-box-head ヤマハのエレキギターその他の商品
  .items-box
    %ul.item-box
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m45666370141_1.jpg?1570600192"}/
            %figcaption.item-style
              %span.item-style--font jfkだjkdjdfじゃkfじゃkfじゃklfjklあjfかjfkdjファkjfかlfじゃklfじゃkl                       
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m75665980119_1.jpg?1572996652"}/
            %figcaption.item-style
              %span.item-style--font まさみあああああああああああああああ
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m75788449823_1.jpg?1573031336"}/
            %figcaption.item-style
              %span.item-style--font まさみ
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m15226907434_1.jpg?1572765413"}/
            %figcaption.item-style
              %span.item-style--font まさみ
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m13651831475_1.jpg?1573012586"}/
            %figcaption.item-style
              %span.item-style--font まさみ                 
      %li.item
        = link_to "", class: "item__link" do
          %figure.item-title
            .item-image
              %span.item-image__price ¥4000円
              %img{class: "item-image__picture", alt: "#", src:"https://static.mercdn.net/thumb/photos/m96067057779_1.jpg?1571370769"}/
            %figcaption.item-style
              %span.item-style--font まさみ
=render "items/main_footer"